
{% extends 'org_base.html' %}{% block content %}{% load static %}

<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
     <!--begin::Toolbar-->
     <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-3">
      <!--begin::Toolbar container-->
      <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
       <!--begin::Page title-->
       <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <!--begin::Title-->
        <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
         Question Review
        </h1>
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
         <!--begin::Item-->
         <li class="breadcrumb-item text-muted">
          <a href="dashboard.html" class="text-muted text-hover-primary">Home</a>
         </li>
         <!--end::Item-->
         <!--begin::Item-->
         <li class="breadcrumb-item">
          <span class="bullet bg-gray-500 w-5px h-2px"></span>
         </li>
         <!--end::Item-->
         <!--begin::Item-->
         <li class="breadcrumb-item text-muted">Courses</li>
         <!--end::Item-->
         <!--begin::Item-->
         <li class="breadcrumb-item">
          <span class="bullet bg-gray-500 w-5px h-2px"></span>
         </li>
         <!--end::Item-->
         <!--begin::Item-->
         <li class="breadcrumb-item text-gray-700">
          Question Review
         </li>
         <!--end::Item-->
        </ul>
        <!--end::Title-->
        <!--end::Title-->
       </div>

      </div>
      <!--end::Toolbar container-->
     </div>
     <!--end::Toolbar-->
     <!--begin::Content-->
     <div id="kt_app_content" class="app-content flex-column-fluid">
      <!--begin::Content container-->
      <div id="kt_app_content_container" class="app-container container-xxl">
       <!--begin::Products-->

       <div class="question-title  br-sep">
        <div class="my-4  d-flex justify-content-between p-5">
         <div class="question-header">
          <div class=" d-flex flex-column gap-2">
           <div class="que fs-4">

            <span>
           {{quedata.question_text}}
            </span>
           </div>
           <div class="text-muted my-1  ">

            <span>
             By : {{quedata.added_by}}
            </span>
            <span>
             |
            </span>
            <span>
             On : {{quedata.added_on}}
            </span>
           </div>


          </div>
         </div>

         <div class="d-flex  flex-column justify-content-end align-items-end gap-2">


          <div class="d-flex likeDislike align-items-center  justify-content-around " style="top:25%">
           <div>
             <img src="{% static 'assets/media/svg/action-svg/thumbs-up.svg'%}"  alt="" class="like-button" role="button">
             <span class="fs-6">
              {{quedata.totallikes}}
             </span>
           </div>
           <span class="mx-1">
             |
           </span>
           <div>
             <span class="fs-6 ">
                {{quedata.totaldislikes}}
             </span>
             <img src="{% static 'assets/media/svg/action-svg/thumbs-down.svg'%}"  alt="" class="dislike-button"
               role="button" >
           </div>

         </div>
         <div>
          <div class="d-flex gap-6">
           <div class="">
            <a href="add-question.html">
             <button class="btn bg-light-primary py-2 px-3 ">
              <img src="{% static 'assets/media/svg/action-svg/edit-icon.svg'%}" alt="" height="24">
             </button>
            </a>
           </div>
           <div>
            <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger ">
             <i class="ki-duotone ki-trash fs-4 pe-0"><span class="path1"></span><span
               class="path2"></span><span class="path3"></span><span class="path4"></span><span
               class="path5"></span></i>
            </a>
           </div>
          </div>
         </div>

         </div>

        </div>
       </div>
       <div class="">
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="pt-0 pb-0">
         <!--begin::Table-->
         <div class="question-body my-3">
          <div class="row row-cols-1">
        {%for i in commentslist%}
           <div class="col my-1">
            <div class="card p-5">
             <div class=" d-flex justify-content-between mb-4">
              <div class="username ">
               <span class="fw-semibold ">
                {{i.actionby}}
               </span>
               <p class="text-muted">
                Faculty
               </p>
              </div>
              <div class="text-muted">
               <span>
                {{i.action_at}}
               </span>
               <span>
                |
               </span>
               <span>
                {{i.actionat_time}}
               </span>
              </div>
             </div>
             <div class="d-flex align-items-center ">
              <div class="comment">
               <p>
              {{i.dislike_reason}}
               </p>
              </div>

             </div>
            </div>
           </div>
        {%endfor%}

         


          </div>
         </div>
         <!--end::Table-->
        </div>
        <!--end::Card body-->
       </div>
       <!--end::Products-->
      </div>
      <!--end::Content container-->
     </div>
     <!--end::Content-->
    </div>
    <!--end::Content wrapper-->
    <!--begin::Footer-->
    <div id="kt_app_footer" class="app-footer">
     <!--begin::Footer container-->
     <div class="app-container container-fluid d-flex justify-content-center py-3">
      <!--begin::Copyright-->
      <div class="text-gray-900">
       <span class="text-gray-800 text-hover-primary">All Right Reserved | Copyright © LMS</span>
      </div>
      <!--end::Copyright-->
     </div>
     <!--end::Footer container-->
    </div>
    <!--end::Footer-->
   </div>

{%endblock%}
{% block script %}{{block.super}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
<script type="text/javascript">
</script>
{%endblock%}